.popupMessage {
    display: flex;
    align-items: center;

    position: fixed;
    top: 5%;
    left: 10px;

    background-color: var(--color-white);
    padding: 10px 20px;
    border-radius: 4px;

    transform: translateX(-110%);

    border-left-width: 6px;
    border-left-style: solid;

    &.animated {
        transition: transform 0.3s ease-in-out;
        will-change: transform;
    }

    &.show {
        transform: translateX(0);
    }

    &.error {
        border-left-color: var(--color-red);
    }

    &.success {
        border-left-color: var(--color-green);
    }

    &.info {
        border-left-color: var(--color-blue);
    }

    &.warning {
        border-left-color: var(--color-yellow);
    }

    i {
        margin-right: 10px;
    }
}
