.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--color-primary);
    padding: 1rem;

    img {
        max-height: 35px;
    }

    div {
        display: flex;
        align-items: center;

        color: var(--color-white);

        .account {
            margin-left: 25px;
            gap: 10px;

            div {
                display: flex;
                flex-direction: column;
                position: relative;

                p,
                span {
                    line-height: 1rem;
                }

                span {
                    position: absolute;
                    top: 100%;
                    background-color: var(--color-orange);
                    border-radius: 7px;
                    font-size: 12px;
                    padding: 0 5px;
                    margin-top: 2px;
                }
            }

            i {
                background-color: var(--color-gray);
                padding: 10px;
                border-radius: 50%;
                cursor: pointer;
            }
        }
    }
}
