.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--color-primary);
    padding: 1rem;

    img {
        max-height: 35px;
    }

    div {
        display: flex;
        align-items: center;

        color: var(--color-white);

        .account {
            margin-left: 25px;
            gap: 10px;

            div {
                display: flex;
                flex-direction: column;
                position: relative;

                p,
                span {
                    line-height: 1rem;
                }

                span {
                    position: absolute;
                    top: 100%;
                    background-color: var(--color-orange);
                    border-radius: 7px;
                    font-size: 12px;
                    padding: 0 5px;
                    margin-top: 2px;
                }
            }

            .avatar {
                position: relative;

                i {
                    background-color: var(--color-gray);
                    padding: 10px;
                    border-radius: 50%;
                    cursor: pointer;
                }

                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 7px;
                    background-color: #fff;
                    border-radius: 4px;
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    position: absolute;
                    top: 100%;
                    right: 0;
                    z-index: 2;
                    padding: 10px 5px;
                    min-width: -webkit-fill-available;
                    width: -webkit-max-content;
                    width: -moz-max-content;
                    width: max-content;

                    li {
                        cursor: pointer;
                        font-size: 16px;

                        p {
                            color: var(--color-black);
                        }

                        &:hover {
                            background-color: #eee;
                        }
                    }
                }
            }
        }
    }
}
