.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--color-primary);
    padding: 1rem;

    img {
        max-height: 35px;
    }

    div {
        display: flex;
        align-items: center;

        color: var(--color-white);

        .account {
            margin-left: 25px;
            gap: 10px;

            i {
                background-color: var(--color-gray);
                padding: 10px;
                border-radius: 50%;
                cursor: pointer;
            }
        }
    }
}
