.dropdown {
    position: relative;

    .dropdownButtonDefault,
    .dropdownButton {
        cursor: pointer;
    }

    .dropdownButton {
        border: 1px solid var(--color-black);
        padding: 10px 15px;
        border-radius: 8px;
        position: relative;
        background-color: var(--color-white);
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 7px;
        background-color: #fff;
        border-radius: 4px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        list-style: none;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 100%;
        z-index: 2;
        padding: 10px 5px;
        min-width: -webkit-fill-available;
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;

        li {
            cursor: pointer;
            font-size: 16px;

            &:hover {
                background-color: #eee;
            }
        }
    }
}
